<!DOCTYPE html>
<html>
  <head>
    <title>K3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>
  

  <body>
    <header class="navbar navbar-inverse">
      <div class="container">
              <p class="nav navbar-nav navbar-left">Bookers</p>
          <div class="nav navbar-nav navbar-right">
             <% if user_signed_in? %>
                 <%= link_to user_path(current_user.id) do %>
                  <p class="glyphicon glyphicon-home" aria-hidden="true">Home</p>
                 <% end %>
                 <%= link_to users_path do %>
                  <p class="glyphicon glyphicon-user" aria-hidden="true">Users</p>
                 <% end %>
                 <%= link_to books_path do %>
                  <p class="glyphicon glyphicon-book" aria-hidden="true">Books</p>
                 <% end %>
                 <%= link_to destroy_user_session_path, method: :delete do %>
                  <p class="glyphicon glyphicon-log-out" aria-hidden="true">logout</p>
                 <% end %>
             <% else %>
                 <%= link_to root_path do %>
                   <p class="glyphicon glyphicon-home" aria-hidden="true">Home</p>
                 <% end %>
                 <%= link_to "home/about" do %>
                  <p class="glyphicon glyphicon-link about" aria-hidden="true">About</p>
                 <% end %>
                 <%= link_to new_user_registration_path do %>
                  <p class="glyphicon glyphicon-edit" aria-hidden="true">sign up</p>
                 <% end %>
                 <%= link_to new_user_session_path do %>
                  <p class="glyphicon glyphicon-log-in" aria-hidden="true">login</p>
                 <% end %>
             <% end %>
          </div>
      </div>
  </header>
    
  <div class="container">
     <%= yield %>
  </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-md-ofset-9">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
 
</html>
